@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Outfit";
}
.delete,.edit{
    color: black;
    &:hover{
        color: #9B177E;
    }
} 
.btn{
    background-color: #9B177E;
    &:hover{
        background-color: #9b177ebe;
    }
    @media (max-width:480px) {
        padding: 4px 8px!important;
        font-size: 13px!important;
    }
}
.main-container{
    @media(max-width:480px){
        width: 90vw!important;
        padding: 0px 20px;
    }
    @media(max-width:768px){
        width: 80vw!important;
    }
}  
.input{
    @media(max-width:480px){
       width: 60vw!important;
       font-size: 14px!important;
    }
}
.no{
    @media(max-width:480px){
       font-size: 15px!important;
    }
}
.icons{
    @media(max-width:480px){
       width: 23px!important;
       height: 22px!important;
    }
}